<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Untamed 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131220

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>English or Polish?</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="../static/default.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/fonts.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
    </div>
    <div id="header-featured">
        <div id="banner-wrapper">
            <div id="banner" class="container">
                <h2>Let our predictor decide if the word is in Polish or English</h2>
                <form action="/result" method="get">
                    <div class="input-container">
                        <input type="text" id="word" name="word">
						<label>Enter word to predict (max. 10 characters, no special letters):</label>
                    </div>
                    <input type="submit" value="Submit" class="button">
                </form>

                    <br>
                    <h2>{{ result }}</h2>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="copyright" class="container">
            <p>&copy; Untitled. All rights reserved. | Design by <a href="http://templated.co"
                                                                    rel="nofollow">TEMPLATED</a>.</p>
        </div>
    </div>
</div>

</body>
</html>
